@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}